@model AnimalShelterInterface.Models.Animal
<h1 class="text-center">Update @Model.Name</h1>

<hr>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Add a new Master</h1>
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.AnimalId)
      <div class="form-group">
        <p>Master's Name</p>
        @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Master's Species</p>
        @Html.TextBoxFor(model => model.Type, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Master's Portrait (image URL)</p>
        @Html.TextBoxFor(model => model.Photo, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>A Personality Trait of Master's</p>
        @Html.TextBoxFor(model => model.Personality, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Master's PowerStatus (number 1-500)</p>
        <input type="number" name="PowerStatus" class="form-control">
      </div>
      <div class="form-group">
        <p>Master's Age</p>
        <input type="number" name="Age" class="form-control">
      </div>
      <div class="form-group">
        <p>Master's Gender</p>
        @Html.TextBoxFor(model => model.Gender, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Master is accepting slaves:</p>
        @Html.CheckBox("LookingForSlave", true)
      </div>
      <button type="submit" class="btn btn-info btn-block"> Submit </button>
    }
  </div>
</div>